.review-item img{
    width: 91px;
}
.review-details{
    display: flex;
    width: 100%;
    margin-left: 18px;
    justify-content: space-between;
}
.review-item{
    display: flex;
    margin: 0 auto;
    border: 1px solid #888888;
    padding: 10px;
    width: 571px;
}
.review-details p{
    margin: 0;
    
}
.del-icon{
    font-size: 31px;
    cursor: pointer;
}

.btn-del{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #e0c1c1;
    color: #e71515;
    cursor: pointer;
}